.main-continents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;
}

ol {
  align-items: left;
}

li {
  text-align: left;
  color: blue;
  cursor: pointer;
}
