.details-main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  align-content: center;
}
.details-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid blue;
  margin-bottom: 5px;
  width: 100%;
  max-width: 300px;
}
